<div class="uk-margin-small-left uk-margin-small-bottom">
    <img class="smallPreviewImg uk-inline" src="{{profileImage}}">
    <div class="uk-inline uk-margin-small-left" style="color:black;">
        <p style="font-weight: 500; font-size: 20px; margin-bottom: -5px;">{{#if nickname}}{{nickname}} ({{id}}){{else}}{{id}}{{/if}}</p>
        <span>Active {{lastActiveString}}</span>
    </div>
</div>