{{!-- {{Header}} --}}
{{> partials/header.hbs }}

{{!-- {{Flexbox Container for Bot & Side Profile}} --}}
<div class="content">

    <div class="left">
        {{!-- {{Title, Subtitle, Chatbox, Input Box}} --}}
        <div class="uk-padding-remove-bottom" style="margin-top: 0%">
            <h2 class="moderate-bold uk-margin-remove-bottom uk-text-center"><b>{{botName}}</b></h2>
            <p class="light uk-margin-small-top uk-text-center">See some
                <a class="bold" href="#examples-modal" uk-toggle>examples</a>
                of what I can do for you!</p>

            {{!-- {{Chat Box}} --}}
            <div id="output" class="uk-margin-auto uk-margin-small-bottom uk-width-1-2"
                 style="overflow-y: scroll; border: 1px dotted black;">
                <h3 id="nothing">Send me a message below..</h3>
            </div>

            {{!-- {{Input Box}} --}}
            <div id="input" class="uk-width-1-2 uk-margin-auto">
                <div id="inputUI" class="uk-margin-small-bottom">
                    <p class="uk-inline uk-margin-small-right uk-margin-auto-vertical"><b>Input</b></p>
                    <input id="message" type="text" placeholder="Type a message here..."
                           class="uk-input uk-width-2-3 uk-inline uk-margin-small-right">
                    {{!-- {{Send Button}} --}}
                    <button class="uk-button uk-button-primary uk-width-auto" style="background-color: #55C165;" onclick="post()">Send</button>
                </div>

                <br />
                {{!-- {{Clear Button}} --}}

            </div>

            <br />
            <br/>
            <br/>
        </div>

        {{!-- {{Examples Modal Popup}} --}}
        <div id="examples-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Examples</h2>
                <ul class="uk-list uk-list-bullet">
                    {{#each examples}}
                        <li><b>{{first}}</b>: {{second}}</li>
                    {{/each}}
                </ul>

                <p class="uk-text-right">
                    <button class="uk-button uk-button-primary uk-modal-close" type="button">OK</button>
                </p>
            </div>
        </div>
    </div>

    <div class="right">
        {{> partials/profileSidebar.hbs}}
    </div>


</div>





<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>
    {{!-- {{For clear button}} --}}
    function clearOutput() {
        $("#output").empty()
    }

    {{!-- {{Enter for sending text input --}}
    $("#message").keydown(function(key) {
        if (key.which == 13) {
            post()
        }
    });



    {{!-- {{Sends text input to the AI}} --}}
    function post() {
        var message = $("#message");

        if (message.val() == '/clear') {
            $("#output").empty()
            message.val("");
        } else {
            $("#output").append($("<p id='userInput' class='uk-animation-fade' style='font-size: 1.3rem;'><b>" + message.val() + "</b></p>"));

            var messageText = message.val();
            message.val("");

            $.get(
                "/bot/respond",
                {input: messageText},
                function (data) {
                    if (data.status !== "") {
                        $("#nothing").remove();
                        var result = $("<p id='botResponse' class='uk-animation-fade' style='font-size: 1.3rem;'><b>" + data.response + "</b></p>");
                        $("#output").append(result);
                        updateScroll();
                    } else UIkit.notification(data.response, 'danger');
                },
                "json"
            )
        }
    }

    function updateScroll() {
        let element = $("#output");
        element.scrollTop(element[0].scrollHeight);
    }
</script>

{{> partials/footer.hbs }}